/*b-index
*/
.b-index {
    background-color: #f1f3f8;
}

.ads img {
    vertical-align: top;
}

.b-company {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
}

.b-company-pic {
    float: left;
    width: 118px;
    height: 118px;
    border: solid 1px #ddd;
    line-height: 118px;
    text-align: center;
}

.b-company-txt {
    margin-left: 140px;
}

.b-company-t {
    padding-top: 10px;
    height: 18px;
    margin-bottom: 10px;
}

.b-company-t h2 {
    float: left;
    font: 400 18px/20px 'hiragino sans gb', 'Microsoft YaHei';
    max-width: 350px;
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.b-company-t h2 a {
    color: #4b4b4b;
    text-decoration: none;
}

.b-company-t .ser-line {
    float: right;
    line-height: 18px;
    margin-top: 4px;
    color: #999;
    font-size: 14px;
}

.b-company-t .ser-line span {
    color: #4b4b4b;
}

.balance {
    overflow: hidden;
}

.balance .ba-money {
    display: block;
    min-width: 135px;
    padding-right: 10px;
    color: #999;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}

.balance .ba-money em {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #ff651f;
    line-height: 30px;
    vertical-align: middle;
}

.balance .ba-money em i {
    font-size: 12px;
    color: #999;
    font-weight: 400;
    margin-left: 5px;
    vertical-align: middle;
}

.balance .ba-btn {
    float: left;
    display: inline-block;
    margin-top: 10px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #69e;
    text-decoration: none;
}

.balance .ba-btn:hover {
    background-color: #7aa8f4;
    color: #fff;
    text-decoration: none;
}

.balance .tx-btn {
    float: left;
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    width: 78px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    border: solid 1px #dcdcdc;
    background-color: #f5f5f5;
    color: #707070;
    text-decoration: none;
    text-align: center;
}

.balance .tx-btn:hover {
    background-color: #f9f9f9;
}

.b-company-posInfo {
    height: 24px;
    margin-top: 10px;
    font-size: 14px;
    color: #999;
}

.b-company-posInfo span {
    float: left;
    margin-right: 50px;
}

.bList-t {
    background-color: #fff;
    padding: 8px 20px;
}

.bList-t h3 {
    float: left;
    font: 400 16px/30px 'hiragino sans gb', 'Microsoft YaHei';
    color: #4b4b4b;
}

.bSearch {
    float: right;
}

.bSearch .s-text {
    line-height: 16px;
    height: 30px;
    height: 16px;
    padding: 6px 9px;
    border: solid 1px #dcdcdc;
    width: 180px;
    color: #707070;
    font-size: 14px;
    float: left;
}

.bSearch input::-ms-clear {
    display: none;
}

.bojin-replace-t .bSearch .s-text {
    height: 28px;
    line-height: 28px\9;
    padding: 0 9px;
    box-sizing: content-box;
}

.bSearch .s-submit {
    float: left;
    margin-left: -1px;
    background-color: #69e;
    color: #fff;
    border: none 0;
    height: 30px;
    line-height: 26px;
    width: 70px;
    overflow: visible;
    font-weight: 700;
    font-size: 14px;
}

.bSearch .s-submit:hover {
    background-color: #7aa8f4;
}

.bList-item,
.bList-pay-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    font-family: 'hiragino sans gb', 'simsun';
}

.bList-item-top {
    height: 22px;
    line-height: 22px;
}

.bList-item-t {
    float: left;
    font-family: 'hiragino sans gb', 'Microsoft YaHei';
    font-size: 16px;
    max-width: 50%;
    line-height: 22px;
    height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #4b4b4b;
}

.bList-item-num {
    float: right;
    height: 13px;
    margin-top: 5px;
}

.bList-item-num-bar {
    float: left;
    height: 13px;
    line-height: 13px;
    color: #999;
    margin-right: 15px;
}

.bList-item-num-load {
    float: left;
    height: 13px;
    line-height: 13px;
}

.bList-item-num-load span {
    float: left;
    color: #999;
}

.bList-item-num-load .loading {
    position: relative;
    width: 100px;
    height: 2px;
    font-size: 0;
    margin: 5px 10px 0;
    background-color: #e6e6e6;
    overflow: hidden;
}

.bList-item-num-load .loading i {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    font-size: 0;
    background-color: #69e;
}

.bList-item-num-load .remain {
    color: #707070;
}

.bList-item-num-load .remain em {
    color: #ffa928;
}

.bList-item-mid {
    line-height: 22px;
    margin-top: 7px;
}

.bList-item-mid li {
    float: left;
    padding-right: 20px;
    color: #707070;
}

.bList-item-mid li span {
    color: #999;
}

.bList-item-mid li .salary {
    font-size: 14px;
    color: #ffa928;
    font-family: Arial, Helvetica, sans-serif;
}

.bList-item-bot {
    margin-top: 15px;
    height: 30px;
}

.bList-item-opBtn {
    float: left;
    font-size: 0;
}

.bList-item-opBtn a {
    display: inline-block;
    padding: 0 10px;
    margin-right: 15px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    border: solid 1px #dcdcdc;
    background-color: #f5f5f5;
    color: #707070;
    text-decoration: none;
}

.bList-item-opBtn a:hover {
    background-color: #f9f9f9;
}

.bList-item-opLink {
    float: right;
    font-size: 12px;
    line-height: 30px;
    position: relative;
}

.bList-item-opLink a {
    margin-left: 30px;
}

.noList {
    padding-top: 86px;
    text-align: center;
    min-height: 253px;
}

.noList-txt {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    color: #999;
}

.noList .pub-btn {
    display: inline-block;
    line-height: 45px;
    height: 45px;
    font-size: 16px;
    padding: 0 30px;
}

.uparea .ui-uploader-thumbImages {
    margin-top: -1px;
    margin-left: -1px;
}

.uparea .ui-uploader-thumbImages li {
    border: 0;
    box-shadow: none;
}

.ba-btn-wait {
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url("../../../../image/jianzhi/web/b/white1.gif") no-repeat center center;
    margin-left: 3px;
    *vertical-align: middle;
}

.unauthorized,
.authenticated,
.icon-big-add,
.eye-ico,
.icon-jsz,
.icon-m-jsz,
.icon-down-arrow,
.icon-bj,
.icon-huangjin,
.icon-tuijian {
    background-image: url("../../../../image/jianzhi/web/b/b_ico.png?v=171110");
    background-repeat: no-repeat;
}

.unauthorized,
.authenticated {
    color: #2674d0;
    background-position: -260px -100px;
    padding-left: 20px;
    margin-left: 10px;
    vertical-align: middle;
    vertical-align: top\9;
}

.authenticated {
    background-position: -260px -120px;
}

.eye-ico,
.icon-jsz,
.icon-m-jsz,
.icon-down-arrow,
.icon-bj,
.icon-huangjin,
.icon-tuijian {
    display: inline-block;
}

.eye-ico {
    background-position: -155px -83px;
    width: 16px;
    height: 12px;
    margin: 4px 4px 0 2px;
}

.noPublic {
    display: inline-block;
    font-size: 12px;
    color: #707070;
    font-family: 'hiragino sans gb', 'simsun';
    line-height: 20px;
    height: 20px;
}

/*LingGong*/
.fa-12 {
    color: #69e;
    font-size: 12px;
}

/* UE-135 */
.balance-refund {
    margin-right: 30px;
}

.balance-refund .tegong-balance {
    float: left;
    font-size: 12px;
    color: #999;
}

.balance-refund .tegong-balance em {
    font-size: 14px;
    color: #ffa928;
}

.balance-refund .b-doubt {
    margin-top: 5px;
    margin-left: 10px;
}

.balance-refund .b-doubt-box {
    width: 380px;
    z-index: 20;
    left: -95px;
    right: 0;
}

.balance-refund .b-doubt-arrow {
    left: 90px;
    right: 0;
}

.balance-refund .b-doubt-box-con,
.freeze-doubt .b-doubt-box-con,
.queue-doubt .b-doubt-box-con {
    line-height: 24px;
    padding: 5px 10px;
}

.freeze-doubt,
.queue-doubt {
    display: inline-block;
    vertical-align: -5px;
}

.freeze-doubt .b-doubt-box {
    width: 310px;
    left: -20px;
    right: 0;
}

.freeze-doubt .b-doubt-arrow {
    left: 15px;
    right: 0;
}

/* UE-181 */
.queue-doubt .b-doubt-arrow {
    left: 95px;
    right: 0;
}

.queue-doubt .b-doubt-box {
    width: 380px;
    left: -100px;
    right: 0;
}

/* UE-196 bond */
.bList-item-bond {
    float: left;
    height: 13px;
    line-height: 13px;
    margin-right: 30px;
    color: #707070;
}

.bList-item-bond span {
    color: #999;
}

.bList-item-bond .b-doubt {
    margin-left: 5px;
    margin-top: -1px;
}

.bList-item-bond .b-doubt-arrow {
    left: 87px;
}

.bList-item-bond .b-doubt-box {
    left: -90px;
    top: 22px;
    width: 327px;
}

.bList-item-bond .b-doubt-box-con {
    padding-right: 5px;
}

.bList-item-opLink span > em {
    margin-left: 30px;
}

.validatorMsg {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 36px;
    padding-top: 8px;
}

.validatorError {
    background: url(../../../../image/jianzhi/web/b/job_pub.png) no-repeat;
    color: #f60;
    background-position: 10px -136px;
}

/**UE-232 ADD NEW ICO**/
.addNew,
.addIcon {
    position: relative;
}

.addNew .lg-new,
.addIcon .icon-m-jsz {
    position: absolute;
    top: 0;
    left: 0;
}

/**UE-250 BJZW START**/
.goManage {
    display: inline-block;
    margin-left: 10px;
    line-height: 30px;
}

.bList-item-mid li.pubTime {
    display: none;
}

.bList-item-opLink .min-b-doubt-box {
    z-index: 11;
}

/**UE-250 BJZW END**/

/**UE-290 START**/
.optbtnMore.active .optMore-list {
    display: block;
}

.optMore-list {
    position: absolute;
    right: 0px;
    top: 20px;
    padding-top: 8px;
    display: none;
    z-index: 21;
}

.optMore-list ul {
    background-color: #fff;
    border: solid 1px #dcdcdc;
    padding: 10px 0;
    z-index: 12;
}

.optMore-list ul li {
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.optMore-list ul li a {
    margin-left: 0;
    padding: 0 20px;
}

.icon-jsz {
    background-position: -240px -120px;
    width: 16px;
    height: 16px;
    vertical-align: -2px;
}

.icon-m-jsz {
    width: 12px;
    height: 12px;
    margin-left: 13px;
    background-position: -154px -247px;
}

.icon-down-arrow {
    width: 9px;
    height: 5px;
    background-position: -174px -251px;
    margin-left: 3px;
}

/**UE-290 END**/

/**UE-345 START**/
.icon-bj,
.icon-huangjin,
.icon-tuijian {
    width: 16px;
    height: 16px;
    background-position: -241px -146px;
    vertical-align: -2px;
    margin-top: 2px;
    margin-left: 5px;
}

.icon-huangjin {
    background-position: -240px -166px;
}

.icon-tuijian {
    background-position: -240px -187px;
}

.bList-pay-item-t h3 {
    font-family: 'hiragino sans gb', 'Microsoft YaHei';
    font-size: 16px;
    font-weight: normal;
    width: 50%;
    line-height: 22px;
    height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #4b4b4b;
}

.bList-pay-item-field {
    float: left;
    margin-top: 6px;
}

.bList-pay-item-m .bList-pay-item-field {
    margin-top: 12px;
}

.bList-pay-item-field li {
    float: left;
    padding-right: 20px;
    color: #aaa;
}

.bList-pay-item-field li.pubTime {
    display: none;
}

.bList-pay-item-m .bList-item-opBtn {
    float: right;
}

.bList .bList-item-opBtn .disabled {
    color: #cbcbcb;
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.bList-pay-item-m .bList-item-opBtn a {
    position: relative;
    margin-left: 15px;
    margin-right: 0;
    text-align: center;
    min-width: 46px;
    cursor: pointer;
}

.bList-pay-item-b {
    margin-top: 20px;
    background-color: #fafafa;
    padding: 15px 20px 11px;
}

.bList-pay-item-b .min-title {
    float: left;
    font-size: 14px;
    color: #707070;
    line-height: 24px;
}

.bList-item-opBtn .b-doubt-box {
    font-size: 12px;
    text-align: left;
    top: 35px;
    cursor: default;
}

.bList-item-opBtn .opBtn-refresh .b-doubt-box {
    width: 180px;
    right: -20px;
}

.bList-item-opBtn .b-doubt-arrow {
    right: 40px;
}

.bojin-position-status {
    text-align: center;
    min-height: 41px;
    margin-top: 13px;
    line-height: 24px;
    font-size: 14px;
    color: #999;
}

.opBtn-addPos {
    display: inline-block;
    position: relative;
    padding-left: 34px;
    text-decoration: none;
    color: #707070;
    line-height: 24px;
    cursor: pointer;
}

.icon-big-add {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-position: -321px -264px;
}

.bList-pay-item.noData {
    height: 152px;
}

.bList-pay-item.noData .noData-txt {
    font-size: 14px;
    color: #999;
    line-height: 20px;
    margin-top: 66px;
    text-align: center;
}

/**UE-412**/
.dianjin-record {
    background-color: #fff;
    padding: 30px 20px;
    font-size: 14px;
}

.dianjin-record li {
    float: left;
    width: 48%;
    line-height: 32px;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 32px;
}

.dianjin-record li span {
    color: #ffa928;
    font-size: 24px;
    font-weight: 700;
    margin: 0 2px 0 5px;
    vertical-align: -2px;
}

.dianjin-record li span + a {
    margin-left: 20px;
}

.dianjin-list-t,
.jiaoyu-data-t {
    line-height: 20px;
    padding: 20px;
    background-color: #fff;
}

.dianjin-list-t h3,
.jiaoyu-data-t h3 {
    float: left;
    font: 400 16px/20px 'hiragino sans gb', 'Microsoft YaHei';
    color: #4b4b4b;
}

.dianjin-consumeList,
.jiaoyu-dataList-table {
    width: 100%;
    color: #4b4b4b;
}

.dianjin-consumeList-noData,
.jiaoyu-list-noData {
    font-size: 14px;
    text-align: center;
    color: #999;
    padding: 100px 0;
}

.dianjin-consumeList th,
.jiaoyu-dataList-table th {
    line-height: 20px;
    padding: 12px 10px;
    font-size: 12px;
    color: #707070;
    background-color: #fafafa;
    text-align: left;
    border-bottom: solid 1px #f0f0f0;
    font-weight: 400;
}

.dianjin-consumeList td,
.jiaoyu-dataList-table td {
    border-bottom: solid 1px #f0f0f0;
    border-left: solid 1px #f0f0f0;
    line-height: 22px;
    padding: 13px 10px;
}

.dianjin-consumeList tr td:first-child,
.jiaoyu-dataList-table tr td:first-child {
    border-left-color: transparent;
}

/**UE-455**/
.jiaoyu-search {
    background-color: #fff;
    padding: 10px;
}

.jiaoyu-dataList {
    background-color: #fff;
}

.jiaoyu-signUp-num {
    margin-left: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #4b4b4b;
}

/* gradient tips */
.b-gradient-tip {
    position: relative;
    padding: 7px 0 6px;
    background: url(../../../../image/jianzhi/web/b/gradient_tip_bg.jpg) no-repeat center center;
    background-color: #ffdeb3;
    margin-bottom: 10px;
    text-align: center;
}

.b-gradient-tip .gradient-tip-con {
    line-height: 22px;
    font-size: 12px;
    color: #f60;
    font-weight: 500;
}

.b-gradient-tip .gradient-tip-con a,
.b-gradient-tip .gradient-tip-con a:hover {
    color: #f60;
    margin-left: 20px;
    text-decoration: none;
}

.b-gradient-tip .gradient-tip-close {
    position: absolute;
    font-family: 'hiragino sans gb', 'Microsoft YaHei';
    color: #f60;
    right: 15px;
    top: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

/*UE-673*/
.svip-record {
    margin-bottom: 10px;
    padding: 30px 20px;
    background-color: #fff;
}

.svip-record-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    color: #707070;
}

.svip-record-item b {
    margin: 0 5px;
    font-size: 24px;
    color: #ffa928;
    line-height: 32px;
    vertical-align: -2px;
}

.svip-record-item em {
    margin-left: 5px;
    color: #999;
}

.svip-record-keywords {
    font-size: 14px;
    margin-top: 15px;
    line-height: 22px;
    color: #999;
}

.dis-refresh {
    position: relative;
}

.dis-refresh > em {
    color: #ccc;
    cursor: not-allowed;
}

.dis-refresh .b-doubt-box {
    padding: 5px;
    width: 340px;
    right: -158px;
}

.dis-refresh .b-doubt-box .b-doubt-arrow {
    left: 50%;
    right: auto;
    margin-left: -9px;
}

/*Widescreen
*/
@media (min-width:1280px) {
    .bList-item-mid li.pubTime {
        display: block;
    }

    .bList-item-num-bar {
        margin-right: 30px;
    }

    .bList-pay-item-field li.pubTime {
        display: block;
    }
}
