.mvuipc-autocomplete {
    position: relative
}

.mvuipc-autocomplete-input {
    display: block;
    float: left;
    height: 28px;
    width: 260px;
    border: 1px solid #cdcdcd;
    line-height: 28px;
    font-size: 13px;
    color: #4b4b4b;
    text-indent: 10px;
    border-right: none
}

.mvuipc-autocomplete-btn {
    float: left;
    height: 30px;
    width: 50px;
    background-color: #69e;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    cursor: pointer
}

.mvuipc-autocomplete-triangle-btn {
    position: relative;
    float: left;
    width: 25px;
    height: 28px;
    border: 1px solid #cdcdcd;
    border-left-color: #f1f1f1;
    background-color: #fff;
    cursor: pointer
}

.mvuipc-autocomplete-triangle-btn:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #c9c9c9;
    margin: -1.5px 0 0 -3px
}

.mvuipc-autocomplete-list {
    position: absolute;
    top: 37px;
    width: 259px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    display: none;
    cursor: pointer
}

.mvuipc-autocomplete-list li {
    white-space: nowrap;
    height: 34px;
    font-size: 12px;
    line-height: 34px;
    padding-left: 10px;
    color: #4b4b4b
}

.mvuipc-autocomplete-list .active {
    background: #fafafa
}

.mvuipc-simselect {
    position: relative;
    width: 88px;
    height: 28px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
    cursor: pointer
}

.mvuipc-simselect.active .mvuipc-simselect-text {
    color: #4b4b4b
}

.mvuipc-simselect.disable {
    border: 1px solid #e9e9e9;
    background-color: #fafafa
}

.mvuipc-simselect.disable .mvuipc-simselect-text {
    color: #dcdcdc
}

.mvuipc-simselect.disable .mvuipc-simselect-btn {
    background-color: #fafafa
}

.mvuipc-simselect input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    border: 0
}

.mvuipc-simselect-text {
    height: 28px;
    line-height: 28px;
    color: #aaa;
    font-size: 13px;
    text-indent: 10px
}

.mvuipc-simselect-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 28px;
    width: 25px;
    border-left: 1px solid #f1f1f1;
    background-color: #fff
}

.mvuipc-simselect-btn:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #c9c9c9;
    margin: -1.5px 0 0 -3px
}

.mvuipc-simselect-list {
    width: 88px;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: -1px;
    top: 35px;
    background-color: #fff
}

.mvuipc-simselect-list.show {
    display: block
}

.mvuipc-simselect-list.hide {
    display: none
}

.mvuipc-simselect-list li {
    height: 34px;
    line-height: 34px;
    color: #4b4b4b;
    font-size: 12px;
    text-indent: 10px;
    overflow: hidden;
    white-space: nowrap
}

.mvuipc-simselect-list li.active {
    background-color: #fafafa
}

.mvuipc-calendar {
    position: relative;
    background: #fff;
    z-index: 1
}

.mvuipc-calendar.disable .mvuipc-calendar-input {
    border-color: #d9d9d9;
    color: #aaa;
    background: #fafafa
}

.mvuipc-calendar .mvuipc-calendar-input {
    position: relative;
    border: 1px solid #d9d9d9;
    height: 44px;
    width: 250px;
    line-height: 44px;
    text-indent: 10px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
    font-family: Hiragino Sans GB, SimSun, Arial, Helvetica Neue, Helvetica
}

.mvuipc-calendar .mvuipc-calendar-input.error {
    color: #ccc;
    border-color: #ff7878;
    background-color: #fff6f6
}

.mvuipc-calendar .mvuipc-calendar-input.select {
    color: #4b4b4b;
    border-color: #d9d9d9;
    background-color: #fff
}

.mvuipc-calendar .mvuipc-calendar-input.hover {
    border-color: #9cf;
    background-color: #fff
}

.mvuipc-calendar .mvuipc-calendar-input.active {
    border-color: #69e;
    background-color: #fff
}

.mvuipc-calendar .input-triangle {
    right: 20px;
    top: 50%;
    margin-top: -2px
}

.mvuipc-calendar .input-triangle-top {
    border-bottom: 5px solid #979797;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent
}

.mvuipc-calendar .input-triangle-top,
.mvuipc-calendar .input-triangle-top:after {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent
}

.mvuipc-calendar .input-triangle-top:after {
    content: "";
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    bottom: -5px;
    left: -4px
}

.mvuipc-calendar .input-triangle-top.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar .input-triangle-bottom {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #979797
}

.mvuipc-calendar .input-triangle-bottom:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 0 solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    top: -5px;
    left: -4px
}

.mvuipc-calendar .input-triangle-bottom.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar .mvuipc-calendar-content {
    position: absolute;
    top: 49px;
    left: 0;
    width: 266px;
    padding: 20px;
    border: 1px solid #69e;
    background: #fff;
    display: none
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header {
    position: relative;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: #4b4b4b
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header span {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn {
    left: 0
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn.disable {
    cursor: default
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn.disable:after {
    border-right-color: #e6e6e6
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid #4b4b4b
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn {
    right: 0
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn.disable {
    cursor: default
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn.disable:after {
    border-left-color: #e6e6e6
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #4b4b4b;
    border-bottom: 4px solid transparent;
    border-right: 0 solid transparent
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-week {
    height: 24px;
    background-color: #fafafa;
    margin-top: 15px;
    margin-bottom: 20px
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-week li {
    float: left;
    width: 38px;
    font-size: 12px;
    color: #999;
    text-align: center;
    line-height: 24px
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li {
    position: relative;
    height: 30px;
    float: left;
    width: 38px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #4b4b4b;
    margin-bottom: 10px;
    cursor: pointer
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li span {
    cursor: pointer
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.disable {
    background-color: #fff;
    color: #ccc;
    cursor: default
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.disable span {
    cursor: default
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.disable.selecting {
    background-color: #fafafa
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.disable.selected {
    color: #fff;
    font-weight: 700
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.disable.selected span {
    background: #ccc;
    box-shadow: 0 5px 10px 0 #ccc;
    z-index: 1
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.selecting {
    background-color: #fffae6
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.double-selecting {
    background-color: #ffeabf
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.selected {
    color: #fff;
    font-weight: 700
}

.mvuipc-calendar .mvuipc-calendar-content .mvuipc-calendar-day li.selected span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 50%;
    background: #69e;
    box-shadow: 0 5px 10px 0 rgba(255, 170, 44, .63);
    z-index: 1
}

body {
    font-family: Hiragino Sans GB, SimSun, Arial, Helvetica Neue, Helvetica
}

.mvuipc-calendar-joint {
    z-index: 1;
    position: relative;
    background: #fff
}

.mvuipc-calendar-joint.disable .mvuipc-calendar-input {
    border-color: #d9d9d9;
    color: #aaa;
    background: #fafafa
}

.mvuipc-calendar-joint .mvuipc-calendar-input {
    position: relative;
    border: 1px solid #d9d9d9;
    height: 44px;
    width: 250px;
    line-height: 44px;
    text-indent: 10px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
    font-family: Hiragino Sans GB, SimSun, Arial, Helvetica Neue, Helvetica
}

.mvuipc-calendar-joint .mvuipc-calendar-input.error {
    color: #ccc;
    border-color: #ff7878;
    background-color: #fff6f6
}

.mvuipc-calendar-joint .mvuipc-calendar-input.select {
    color: #4b4b4b;
    border-color: #d9d9d9;
    background-color: #fff
}

.mvuipc-calendar-joint .mvuipc-calendar-input.hover {
    border-color: #9cf;
    background-color: #fff
}

.mvuipc-calendar-joint .mvuipc-calendar-input.active {
    border-color: #69e;
    background-color: #fff
}

.mvuipc-calendar-joint .input-triangle {
    right: 20px;
    top: 50%;
    margin-top: -2px
}

.mvuipc-calendar-joint .input-triangle-top {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 5px solid #979797;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0 solid transparent
}

.mvuipc-calendar-joint .input-triangle-top:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 4px solid #fff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 0 solid transparent;
    bottom: -5px;
    left: -4px
}

.mvuipc-calendar-joint .input-triangle-top.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar-joint .input-triangle-bottom {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #979797
}

.mvuipc-calendar-joint .input-triangle-bottom:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 0 solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    top: -5px;
    left: -4px
}

.mvuipc-calendar-joint .input-triangle-bottom.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar-joint .mvuipc-calendar-content {
    position: absolute;
    top: 49px;
    left: 0;
    width: 560px;
    padding: 20px;
    border: 1px solid #69e;
    background: #fff;
    display: none
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-c1 {
    margin-right: 28px
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-c1,
.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-c2 {
    float: left;
    width: 266px
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header {
    position: relative;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    color: #4b4b4b
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header span {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn {
    left: 0
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn.disable {
    cursor: default
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn.disable:after {
    border-right-color: #e6e6e6
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn:after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 6px solid #4b4b4b
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-left-btn.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn {
    right: 0
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn.disable {
    cursor: default
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn.disable:after {
    border-left-color: #e6e6e6
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #4b4b4b;
    border-bottom: 4px solid transparent;
    border-right: 0 solid transparent
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-header .header-right-btn.redraw:after {
    content: "a";
    color: #fff
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-week {
    height: 24px;
    background-color: #fafafa;
    margin-top: 15px;
    margin-bottom: 20px
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-week li {
    float: left;
    width: 38px;
    font-size: 12px;
    color: #999;
    text-align: center;
    line-height: 24px
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li {
    position: relative;
    height: 30px;
    float: left;
    width: 38px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #4b4b4b;
    margin-bottom: 10px;
    cursor: pointer
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li .day-span {
    cursor: pointer
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.disable {
    background-color: #fff;
    color: #ccc;
    cursor: default
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.disable .day-span {
    cursor: default
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.disable.selecting {
    background-color: #fafafa
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.disable.selected {
    color: #fff;
    font-weight: 700;
    background-color: #fff
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.disable.selected .day-span {
    background: #ccc;
    box-shadow: 0 5px 10px 0 #ccc;
    z-index: 1
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.selecting {
    background-color: #fffae6
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.double-selecting {
    background-color: #ffeabf
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li .day-span {
    display: block;
    width: 100%;
    height: 100%
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.selected {
    color: #fff;
    font-weight: 700;
    background-color: #fff
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.selected .day-span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 50%;
    background: #69e;
    box-shadow: 0 5px 10px 0 rgba(102, 153, 238, .63);
    z-index: 1
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.selected .day-bg {
    position: absolute;
    top: 0;
    background-color: #fffae6
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.selected.right-bg .day-bg {
    width: 50%;
    height: 100%;
    right: 0
}

.mvuipc-calendar-joint .mvuipc-calendar-content .mvuipc-calendar-day li.selected.left-bg .day-bg {
    width: 50%;
    height: 100%;
    left: 0
}

body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-indent: 0
}

a,
button,
input,
select,
textarea {
    background: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    outline: none;
    -webkit-appearance: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

a {
    text-decoration: none
}

img {
    border: none;
    vertical-align: top
}

table {
    border-collapse: collapse
}

textarea {
    resize: none;
    overflow: auto
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: "";
    display: block;
    clear: both
}

.no-wrap {
    white-space: nowrap
}

.radio-main {
    width: 290px
}

.radio-main .radio-add-other {
    -width: 100px;
    position: relative;
    height: 24px;
    color: #69e;
    font-size: 14px;
    line-height: 24px;
    margin-left: 52px;
    cursor: pointer
}

.radio-main .radio-add-other .radio-tip-base {
    right: -12px
}

.radio-main .radio-tip-base {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    position: absolute;
    right: -53px;
    bottom: -50px;
    white-space: nowrap;
    z-index: 1;
    display: none
}

.radio-main .minus .radio-tip-base {
    right: -67px
}

.radio-main .radio-tip {
    opacity: .6;
    background: #000;
    border-radius: 4px
}

.radio-main .radio-tip:after {
    position: absolute;
    top: -5px;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, .9);
    margin-left: -7px
}

.radio-item {
    margin-bottom: 15px
}

.radio-item .radio-btn {
    float: left;
    width: 52px;
    height: 44px;
    text-align: center;
    line-height: 44px
}

.radio-item .radio-btn .radio-one {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #ededf0;
    border-radius: 50%;
    position: relative
}

.radio-item .select .radio-one {
    width: 4px;
    height: 4px;
    border: 6px solid #69e;
}

.radio-item .radio-input {
    float: left;
    padding: 0;
    color: #ccc;
    text-indent: 10px;
    outline: none;
    height: 42px;
    border: 1px solid #d9d9d9;
    width: 149px;
    line-height: 42px
}

.radio-item .radio-input.error {
    border-color: #ff7878;
    background-color: #fff6f6
}

.radio-item .radio-btn-wrap {
    width: 33px;
    height: 32px;
    float: left;
    position: relative
}

.radio-item .radio-fake,
.radio-item .raito-add-btn,
.radio-item .raito-remove-btn {
    float: left;
    background: #fff;
    border: 2px solid #949293;
    border-radius: 20px;
    width: 14px;
    height: 14px;
    margin-top: 14px;
    margin-left: 15px;
    color: #949293;
    line-height: 12px;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    position: relative;
    line-height: 11px
}

.radio-item .radio-fake.disable,
.radio-item .radio-fake.disable1,
.radio-item .raito-add-btn.disable,
.radio-item .raito-add-btn.disable1,
.radio-item .raito-remove-btn.disable,
.radio-item .raito-remove-btn.disable1 {
    color: #ededf0;
    border-color: #ededf0
}

.radio-item .radio-fake {
    cursor: default;
    border: 2px solid #fff
}

.radio-item .radio-error {
    font-size: 12px;
    color: #ff7878;
    height: 12px;
    line-height: 12px;
    margin-left: 52px;
    margin-top: 10px;
    display: none
}

.checkbox-item .radio-btn {
    float: left;
    width: 52px;
    height: 44px;
    text-align: center;
    line-height: 44px
}

.checkbox-item .radio-btn .radio-one {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #ededf0;
    border-radius: 0;
    position: relative
}

.checkbox-item .select .radio-one {
    width: 16px;
    height: 16px;
    border: none;
    background: #69e
}

.checkbox-item .select .radio-one .hide {
    width: 4px;
    height: 4px;
    background: #69e;
    position: absolute;
    left: 3px;
    top: 3px
}

.checkbox-item .select .radio-one:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 0 solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    top: 5px;
    left: 3px
}

.checkbox-item .select .radio-one:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 0 solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #69e;
    top: 5px;
    left: 4px
}
