.placeholder {
    color: #ccc;
}

::-webkit-input-placeholder {
    color: #ccc;
}

::-moz-placeholder {
    color: #ccc;
}

input:-moz-placeholder {
    color: #ccc;
}

select::-ms-expand { display: none; }

.ui-addModal-btn i,
.ui-fCheckbox i,
.ui-mult-bar:before,
.ui-select-wrap:after,
.pub-showCity .mvuipc-autocomplete-triangle-btn:before,
.ui-checkbox-wrap input[type="checkbox"]:checked + i,
.legend-item i.upload-ico,
.legend-item i.del-ico,
.ui-suc-main:before,
.ui-fail-main:before,
.ui-warn-main:before,
.radio-btn-group input:checked + span:before,
.ui-input-select i {
    background-image: url("../../../../image/jianzhi/web/b/b_ico.png?v=171110");
    background-repeat: no-repeat;
}

.ui-input-text {
    padding: 10px;
    height: 44px;
    border: solid 1px #d9d9d9;
    width: 100%;
    font-size: 14px;
    color: #4b4b4b;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-input-text-sm {
    padding:2px 9px;
    line-height: 30px;
    height: 30px;
}

.active .ui-input-text,
.active .ui-input-text:hover,
.ui-input-text:focus,
.ui-input-text:focus:hover {
    border-color: #69e;
}

.error .ui-input-text,
.error .ui-input-text:hover {
    background: #FFF5F5;
    border: 1px solid #FF7878;
}

.ui-input-text:hover {
    border-color: #9cf;
}

.ui-input-text:disabled {
    background-color: #fafafa;
    color: #ccc;
}

.ui-input-text:disabled:hover {
    border-color: #d9d9d9;
}

.pub textarea.ui-input-text {
    resize: vertical;
}

.error .ui-input-tip,
.error .ui-select-tip,
.error .ui-addModal-tip {
    display: block;
}

.ui-input-tip,
.ui-select-tip,
.ui-addModal-tip {
    display: none;
    margin-top: 10px;
    font-size: 12px;
    color: #ff7878;
    line-height: 20px;
}

.ui-select-wrap {
    position: relative;
}

.ui-select,
.ui-input-select {
    position: relative;
    height: 44px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #d9d9d9;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: 9px 34px 9px 9px;
    padding-right: 12px\9;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    background-color: transparent;
    color: #4b4b4b;
    outline: none;
    overflow: hidden;
    z-index: 1;
}

.ui-select-wrap:after,
.ui-input-select i {
    position: absolute;
    top: 20px;
    right: 18px;
    content: '';
    width: 11px;
    height: 5px;
    background-position: -363px -95px;
    z-index: 1;
}

.ui-select:hover,
.ui-input-select {
    border-color: #9cf;
}

.error .ui-select,
.error .ui-select:hover,
.error .ui-input-select,
.error .ui-input-select:hover {
    border-color: #FF7878;
    background: #FFF6F6;
    color: #ccc;
}

.ui-select-wrap.error:after {
    z-index: 1;
}

.ui-select[disabled] {
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    color: #ccc;
}

.ui-mult {
    position: relative;
}

.ui-mult-bar {
    position: relative;
    padding: 7px 30px 7px 10px;
    border: solid 1px #d9d9d9;
    line-height: 30px;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-mult-bar:before {
    position: absolute;
    content: '';
    right: 20px;
    top: 20px;
    width: 11px;
    height: 5px;
    background-position: -363px -95px;
}

.ui-mult-bar-item {
    position: relative;
    display: inline-block;
    background: #FFFAE6;
    border: 1px solid #FFD57F;
    line-height: 28px;
    padding: 0 25px 0 10px;
    color: #4b4b4b;
    font-size: 12px;
    margin-right: 10px;
    vertical-align: top;
}

.ui-mult-bar-item i {
    position: absolute;
    right: 8px;
    top: 7px;
    height: 14px;
    line-height: 14px;
    font-size: 13px;
    color: #69e;
    cursor: pointer;
}

.ui-mult-list {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 44px;
    background-color: #fff;
    border: solid 1px #69e;
    border-top-color: #FFD580;
    z-index: 11;
    display: none;
}

.ui-mult.active .ui-mult-bar {
    border-color: #69e;
}

.ui-mult.active .ui-mult-list {
    display: block;
}

.ui-mult-list li {
    line-height: 34px;
    font-size: 12px;
    color: #707070;
    padding: 0 10px;
}

.ui-mult-list li:hover {
    background-color: #FFFAE6;
}

.ui-radio-txt,
.ui-checkbox-txt {
    color: #4b4b4b;
    font-size: 14px;
    display: inline-block;
    line-height: 18px;
    vertical-align: top;
    word-break: break-all;
    word-wrap: break-word;
}

.disabled .ui-radio-txt,
.disabled .ui-checkbox-txt {
    color: #ccc;
}

.ui-radio-wrap {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
}

.ui-radio-wrap input[type="radio"] {
    position: absolute;
    top: 1px;
    left: 1px;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    opacity: 0.01;
    z-index: 10;
}

.ui-radio-wrap input[type="radio"] + i {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #ededed;
    background-color: #fff;
    border-radius: 50%;
    display: none\9;
}

:root .ui-radio-wrap input[type="radio"] + i,
:root .ui-checkbox-wrap input[type="checkbox"] + i {
    display: block;
}

.ui-radio-wrap input[type="radio"]:checked + i {
    border: solid 6px #69e;
    width: 6px;
    height: 6px;
}

.ui-checkbox-wrap {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
}

.ui-checkbox-wrap input[type="checkbox"] {
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0.01;
    margin: 0;
    padding: 0;
    z-index: 10;
    cursor: pointer;
}

.ui-checkbox-wrap input[type="checkbox"]:disabled,
.ui-radio-wrap input[type="radio"]:disabled {
    cursor: auto;
}

.ui-checkbox-wrap input[type="checkbox"] + i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: solid 2px #ededed;
    background-color: #fff;
    display: none\9;
}

.ui-checkbox-wrap input[type="checkbox"]:checked + i {
    background-position: -365px -152px;
    border-color: #69e;
}

.ui-fCheckbox {
    position: relative;
    display: block;
    line-height: 22px;
    border: solid 1px #d9d9d9;
    color: #4b4b4b;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: #fafafa;
    cursor: pointer;
}

.ui-fCheckbox i {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 16px;
    height: 16px;
    background-position: -363px -129px;
    display: none;
}

.ui-fCheckbox:hover {
    border-color: #9cf;
}

.ui-fCheckbox.active {
    border: solid 2px #69e;
    padding: 9px;
}

.ui-fCheckbox.active i {
    display: block;
}

.ui-addModal {
}

.ui-addModal dt {
    display: block;
    line-height: 24px;
    border-bottom: dashed 1px #e6e6e6;
}

.ui-addModal-btn {
    position: relative;
    display: inline-block;
    line-height: 24px;
    color: #69e;
    font-size: 14px;
    padding-left: 28px;
    cursor: pointer;
}

.ui-addModal-btn i {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    background-position: -363px -106px;
    cursor: pointer;
}

.ui-addModal-txt {
    display: inline-block;
    color: #4b4b4b;
    font-size: 14px;
    margin-right: 20px;
}

.spec {
    position: relative;
}

.spec .input-words {
    position: absolute;
    color: #707070;
    right: 1px;
    top: 1px;
    height: 42px;
    line-height: 42px;
    text-align: right;
    padding-right: 20px;
    padding-left: 5px;
    background-color: #fff;
    font-size: 14px;
}

.error .input-words {
    background-color: #FFF5F5;
}

.form-block {
    width: 100%;
    display: block;
}

textarea.form-block {
    height: auto;
}

.legend-item {
    position: relative;
    display: inline;
    width: 170px;
    height: 118px;
    line-height: 118px;
    border: solid 1px #d9d9d9;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
    overflow: hidden;
}

.legend-item img {
    vertical-align: middle;
    font-size: 14px;
}

.legend-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity = 20);
    z-index: 9;
}

.legend-item input {
    position: absolute;
    top: 0;
    left: -7px;
    display: none;
    width: 177px;
    height: 118px;
    font-size: 50px;
    opacity: 0.01;
    filter: alpha(opacity = 1);
    z-index: 11;
    cursor: pointer;
}

.legend-item i {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    margin: -19px 0 0 -19px;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    z-index: 10;
}

.legend-item i.loading-ico {
    background-image: url(../../../../image/jianzhi/web/b/loading.gif);
    background-position: 0 0;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
}

.legend-item i.del-ico {
    background-position: -383px -97px;
    width: 26px;
    height: 30px;
    margin: -13px 0 0 -15px;
}

.legend-hover .legend-bg,
.legend-hover input,
.legend-hover i,
.legend-item.loading .legend-bg,
.legend-item.loading i,
.legend-item.active .legend-bg,
.legend-item.active i {
    display: block;
}

.ui-upload-wrap .legend-item {
    display: block;
    width: 185px;
}

.ui-upload-wrap .legend-item i {
    display: block;
}

.legend-item i.upload-ico {
    width: 40px;
    height: 32px;
    margin-top: -16px;
    background-position: -385px -268px;
}

.ui-upload-wrap .legend-item:hover {
    background-color: #fafafa;
}

.legend-item.error,
.legend-item.error:hover {
    background: #FFF6F6;
    border-color: #FF7878;
}

.ui-upload-txt {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}

.ui-tips-v3 {
    padding: 15px;
    line-height: 24px;
    background-color: #fafafa;
    font-size: 12px;
}

.ui-text {
    font-size: 14px;
    color: #4b4b4b;
    line-height: 24px;
}

.ml-30 {
    margin-left: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.mt15 {
    margin-top: 15px;
}

.col-1 {
    width: 5%;
}

.col-2 {
    width: 10%;
}

.col-3 {
    width: 15%;
}

.col-4 {
    width: 20%;
}

.col-5 {
    width: 25%;
}

.col-60 {
    width: 30%;
}

.col-6 {
    width: 33.333%;
}

.col-7 {
    width: 35%;
}

.col-8 {
    width: 40%;
}

.col-9 {
    width: 45%;
}

.col-10 {
    width: 50%;
}

.col-11 {
    width: 55%;
}

.col-12 {
    width: 60%;
}

.col-13 {
    width: 65%;
}

.col-14 {
    width: 70%;
}

.col-15 {
    width: 75%;
}

.col-16 {
    width: 80%;
}

.col-17 {
    width: 85%;
}

.col-18 {
    width: 90%;
}

.col-19 {
    width: 95%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-60,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19 {
    float: left;
}

.ui-suc,
.ui-fail,
.ui-warn {
    background-color: #fff;
    text-align: center;
    padding: 70px 0;
}

.ui-suc-main,
.ui-fail-main,
.ui-warn-main {
    position: relative;
    display: inline-block;
    text-align: left;
    padding-left: 60px;
}

.ui-suc-main:before,
.ui-fail-main:before,
.ui-warn-main:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-position: -97px 0;
    border-radius: 50%;
}

.ui-fail-main:before {
    background-position: -384px -223px;
}

.ui-warn-main:before {
    background-position: -449px -72px;
}

.ui-suc-t,
.ui-fail-t,
.ui-warn-t {
    font-size: 20px;
    color: #4B4B4B;
    line-height: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'hiragino sans gb', 'Microsoft YaHei';
}

.ui-suc-txt,
.ui-fail-txt,
.ui-warn-txt {
    font-size: 14px;
    color: #707070;
    line-height: 24px;
}

.ui-suc-link,
.ui-fail-link,
.ui-warn-link {
    margin-top: 20px;
    font-size: 14px;
}

.ui-tips.tool-tip {
    border: 0 none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 20px;
}

.ui-tips.tool-tip .arrow {
    border-width: 6px;
}

.ui-tips.tool-tip .arrow s {
    display: none;
}

.ui-tips.tool-tip-top .arrow {
    bottom: -12px;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}

.ui-tips.tool-tip-right .arrow {
    left: -12px;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}

.ui-tips.tool-tip-bottom .arrow {
    top: -12px;
    border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
}

.ui-tips.tool-tip-left .arrow {
    right: -12px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
}

.radio-btn-group {
    position: relative;
    display: inline-block;
    height: 44px;
}

.radio-btn-group input + span {
    position: relative;
    display: inline-block;
    padding: 9px 20px 9px 54px;
    color: #4c4c4c;
    font-size: 14px;
    line-height: 24px;
    background-color: #fafafa;
    border: solid 1px #ccc;
    cursor: pointer;
}

.radio-btn-group input + span:hover {
    border-color: #9cf;
}

.radio-btn-group input {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 15px;
    left: 20px;
    width: 14px;
    height: 14px;
}

.radio-btn-group input + span:before {
    position: absolute;
    content: '';
    top: 14px;
    left: 20px;
    border: solid 2px #ccc;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
}

.radio-btn-group input:checked + span:before {
    background-position: -363px -129px;
    border-width: 0px;
    width: 16px;
    height: 16px;
    top: 13px;
    left: 19px;
}

.radio-btn-group input:checked + span {
    border: solid 2px #69e;
    padding: 8px 19px 8px 53px;
}

.radio-btn-group input[disabled] + span {
    color: #999;
    border-color: #fafafa;
    cursor: not-allowed;
}

@media \0screen {
    .ui-tips.tool-tip {
        background-color: #4d4e50;
    }

    .ui-tips.tool-tip-top .arrow {
        border-color: #4d4e50 transparent transparent transparent;
    }

    .ui-tips.tool-tip-right .arrow {
        border-color: transparent #4d4e50 transparent transparent;
    }

    .ui-tips.tool-tip-bottom .arrow {
        border-color: transparent transparent #4d4e50 transparent;
    }

    .ui-tips.tool-tip-left .arrow {
        border-color: transparent transparent transparent #4d4e50;
    }

}

.ui-input-select {
    line-height: 24px;
}

/**btn start**/
.btn-group {
    margin-top: 40px;
}

.ui-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 28px;
    color: #fff;
    background-color: #69e;
    font-size: 16px;
    padding: 7px 19px;
    border: solid 1px #69e;
    font-family: 'hiragino sans gb', 'Microsoft YaHei';
    border-radius: 2px;
    -webkit-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.ui-btn:hover {
    color: #fff;
    background-color: #7aa8f4;
    border-color: #7aa8f4;
    text-decoration: none;
}

.ui-btn-lg {
    padding: 10px 39px;
}

.ui-btn-sm {
    font-size: 14px;
    padding: 0 14px;
}

.ui-btn-gray {
    border: solid 1px #ccc;
    color: #4b4b4b;
    background-color: #fff;
}

.ui-btn-gray:hover {
    color: #4c4c4c;
    background-color: #f5f5f5;
    border-color: #ccc;
}

.ui-btn-gray:active {
    background-color: #f0f0f0;
}

.ui-btn-disabled,
.ui-btn-disabled:hover {
    background-color: #f0f0f0;
    color: #ccc;
    border-color: #f0f0f0;
    cursor: not-allowed;
}

.ui-btn-origin,
.ui-btn-origin:hover {
    background-color: transparent;
    border-color: #ccc;
}

.ui-btn-icon {
    position: relative;
    padding-left: 54px;
}

.ui-btn-icon:before {
    position: absolute;
    content: '';
    left: 20px;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
}

.ui-btn-lg:before {
    top: 13px;
    width: 24px;
    height: 24px;
}

.ui-btn-gray-disabled,
.ui-btn-gray-disabled:hover {
    background-color: #f0f0f0;
    color: #ccc;
    border-color: #f0f0f0;
    cursor: not-allowed;
}

/**btn end**/

/**table**/
.normal-table {
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    text-align: left;
    font-family: arial;
}

.normal-table thead th {
    padding: 12px 10px 12px 20px;
    color: #999;
    line-height: 24px;
    font-weight: 400;
    background-color: #fafafa;
    border-bottom: solid 1px #f0f0f0;
}

.normal-table tbody tr:hover {
    background-color: #fafafa;
}

.normal-table tbody td {
    padding: 20px 10px 20px 20px;
    line-height: 24px;
    color: #4c4c4c;
    border-bottom: solid 1px #f0f0f0;
}

/*  checkbox-group
---------------------------------- */
.sCheckbox-group,
.sCheckbox {
    position: relative;
    display: inline-block;
}

.sCheckbox-group{
    margin-left: 30px;
}

.sCheckbox label {
    width: 28px;
    height: 14px;
    background: #ccc;
    box-shadow: inset 0 0 0 1px rgba(221, 221, 221, 1);
    position: relative;
    display: inline-block;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    vertical-align: middle;
    margin-top: -1px;
}

.sCheckbox label:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    left: 1px;
    top: 1px;
    z-index: 2;
    background: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.sCheckbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.sCheckbox input:disabled{
    cursor: default;
    z-index: 0;
}

.sCheckbox-txt {
    font-size: 12px;
    color: #707070;
    line-height: 20px;
}

.disabled+.sCheckbox-txt{
        color: #ccc;
}

.sCheckbox input:checked+label {
    background: #6699ee;
    box-shadow: inset 0 0 0 1px rgba(221, 221, 221, 0);
}

.sCheckbox input:checked+label:after {
    left: 15px;
    background: #fff;
}

.sCheckbox input:disabled+label {
    background: #f0f0f0;
    box-shadow: inset 0 0 0 1px rgba(221, 221, 221, 0);
}

.sCheckbox input:disabled+label:after {
    background: #ccc;
}

