<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GuYongJun</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>IndexFilter</filter-name>
    <filter-class>com.GuYongJun.Filter.IndexFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexFilter</filter-name>
    <url-pattern>/home.jsp</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>userInfoList</servlet-name>
    <servlet-class>com.GuYongJun.Servlet.userInfoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfoList</servlet-name>
    <url-pattern>/userInfo.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.GuYongJun.Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>com.GuYongJun.Servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/index.action</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
</web-app>